@inherits LayoutComponentBase
@layout MasterInit
@using Layout._Helpers
@inject IJSRuntime JS

<!--begin::Root-->
<div class="d-flex flex-column flex-root" id="kt_app_root">
	<!--begin::Wrapper-->
	<div class="d-flex flex-column flex-lg-row flex-column-fluid">
		<!--begin::Body-->
		<div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1">
			<!--begin::Form-->
			<div class="d-flex flex-center flex-column flex-lg-row-fluid">
				<!--begin::Wrapper-->
				<div class="w-lg-500px p-10">
					<!--begin::Page-->
					@Body
					<!--end::Page-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Form-->       
	
			<!--begin::Footer-->  
			<div class="d-flex flex-center flex-wrap px-5">
				<!--begin::Links-->
				<div class="d-flex fw-semibold text-primary fs-base">
					<a href="#" class="px-5" target="_blank">Terms</a>
	
					<a href="#" class="px-5" target="_blank">Plans</a>
					
					<a href="#" class="px-5" target="_blank">Contact Us</a>
				</div>
				<!--end::Links-->
			</div>
			<!--end::Footer-->
		</div>
		<!--end::Body-->
		
		<!--begin::Aside-->
		<div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2" style='background-image:url(@KTTheme.GetAssetPath("media/misc/auth-bg.png"))'>
			<!--begin::Content-->
			<div class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100">          
				<!--begin::Logo-->
				<a href="/" class="mb-12">
					<img alt="Logo" src='@KTTheme.GetAssetPath("media/logos/custom-1.png")' class="h-60px h-lg-75px"/>
				</a>    
				<!--end::Logo-->
	
				<!--begin::Image-->                
				<img class="d-none d-lg-block mx-auto w-275px w-md-50 w-xl-500px mb-10 mb-lg-20" src='@KTTheme.GetAssetPath("media/misc/auth-screens.png")' alt=""/>
				<!--end::Image-->
	
				<!--begin::Title-->
				<h1 class="d-none d-lg-block text-white fs-2qx fw-bolder text-center mb-7"> 
					Fast, Efficient and Productive
				</h1>  
				<!--end::Title-->
	
				<!--begin::Text-->
				<div class="d-none d-lg-block text-white fs-base text-center">
					In this kind of post, <a href="#" class="opacity-75-hover text-warning fw-bold me-1">the blogger</a> 
	
					introduces a person they’ve interviewed <br/> and provides some background information about 
					
					<a href="#" class="opacity-75-hover text-warning fw-bold me-1">the interviewee</a> 
					and their <br/> work following this is a transcript of the interview.  
				</div>
				<!--end::Text-->
			</div>
			<!--end::Content-->
		</div>
		<!--end::Aside-->
	</div>
	<!--end::Wrapper-->
</div>
<!--end::Root-->

@code {
	private IKTThemeHelpers? KTHelper;
	
	protected override void OnAfterRender(bool firstRender){
		KTHelper = new KTThemeHelpers(JS);
		KTHelper.addBodyClass("app-blank");
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Delay(300);
		await JS.InvokeVoidAsync("document.body.removeAttribute", "data-kt-app-reset-transition");
		await JS.InvokeVoidAsync("document.body.removeAttribute", "data-kt-app-page-loading");
    }
}