<!--begin::Indicator label-->
<span class="indicator-label">
    @ButtonLabel
</span>
<!--end::Indicator label-->

<!--begin::Indicator progress-->
<span class="indicator-progress">
    @MessageText
    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
</span>
<!--end::Indicator progress-->

@code {

    [Parameter]
    public string ButtonLabel { get; set; } = "Submit";

    [Parameter]
    public string MessageText { get; set; } = "Please wait...";

}