<!--begin::Notice-->
<div class="notice d-flex bg-light-primary rounded border-primary border border-dashed min-w-lg-600px flex-shrink-0 p-6">
<!--begin::Icon-->
@((MarkupString)KTTheme.GetIcon("devices-2", "fs-2tx text-primary me-4")) 
<!--end::Icon-->
<!--begin::Wrapper-->
<div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
	<!--begin::Content-->
	<div class="mb-3 mb-md-0 fw-semibold">
		<h4 class="text-gray-900 fw-bold">Database Backup Process Completed!</h4>
		<div class="fs-6 text-gray-700 pe-7">Login into Admin Dashboard to make sure the data integrity is OK</div>
	</div>
	<!--end::Content-->
	<!--begin::Action-->
	<a href="#" class="btn btn-primary px-6 align-self-center text-nowrap">Proceed</a>
	<!--end::Action-->
</div>
<!--end::Wrapper--></div>
<!--end::Notice-->