@using Layout.Partials.SidebarLayout.Sidebar;

<!--begin::sidebar-->
<div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="225px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
	<_SidebarLogo></_SidebarLogo>
	<_SidebarMenu></_SidebarMenu>
	<_SidebarFooter></_SidebarFooter>
</div>
<!--end::sidebar-->