<!--begin::Timeline Widget 1-->
<div class="card card-flush h-xl-100">
	<!--begin::Card header-->
	<div class="card-header pt-5">
		<!--begin::Card title-->
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-900">Team Schedule</span>
			<span class="text-gray-500 pt-2 fw-semibold fs-6">49 Acual Tasks</span>
		</h3>
		<!--end::Card title-->
		<!--begin::Card toolbar-->
		<div class="card-toolbar">
			<!--begin::Tabs-->
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light fw-bold px-4 me-1 active" data-kt-timeline-widget-1="tab" data-bs-toggle="tab" href="#kt_timeline_widget_1_tab_day">Day</a>
				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light fw-bold px-4 me-1" data-kt-timeline-widget-1="tab" data-bs-toggle="tab" href="#kt_timeline_widget_1_tab_week">Week</a>
				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light fw-bold px-4 me-1" data-kt-timeline-widget-1="tab" data-bs-toggle="tab" href="#kt_timeline_widget_1_tab_month">Month</a>
				</li>
			</ul>
			<!--end::Tabs-->
		</div>
		<!--end::Card toolbar-->
	</div>
	<!--end::Card header-->
	<!--begin::Card body-->
	<div class="card-body pb-0">
		<!--begin::Tab content-->
		<div class="tab-content">
			<!--begin::Tab pane-->
			<div class="tab-pane active" id="kt_timeline_widget_1_tab_day" role="tabpanel" aria-labelledby="day-tab" data-kt-timeline-widget-1-blockui="true">
				<div class="table-responsive pb-10">
					<!--begin::Timeline-->
					<div id="kt_timeline_widget_1_1" class="vis-timeline-custom h-350px min-w-700px" data-kt-timeline-widget-1-image-root='@KTTheme.GetAssetPath("media/")'></div>
					<!--end::Timeline-->
				</div>
			</div>
			<!--end::Tab pane-->
			<!--begin::Tab pane-->
			<div class="tab-pane" id="kt_timeline_widget_1_tab_week" role="tabpanel" aria-labelledby="week-tab" data-kt-timeline-widget-1-blockui="true">
				<div class="table-responsive pb-10">
					<!--begin::Timeline-->
					<div id="kt_timeline_widget_1_2" class="vis-timeline-custom h-350px min-w-700px" data-kt-timeline-widget-1-image-root='@KTTheme.GetAssetPath("media/")'></div>
					<!--end::Timeline-->
				</div>
			</div>
			<!--end::Tab pane-->
			<!--begin::Tab pane-->
			<div class="tab-pane" id="kt_timeline_widget_1_tab_month" role="tabpanel" aria-labelledby="month-tab" data-kt-timeline-widget-1-blockui="true">
				<div class="table-responsive pb-10">
					<!--begin::Timeline-->
					<div id="kt_timeline_widget_1_3" class="vis-timeline-custom h-350px min-w-700px" data-kt-timeline-widget-1-image-root='@KTTheme.GetAssetPath("media/")'></div>
					<!--end::Timeline-->
				</div>
			</div>
			<!--end::Tab pane-->
		</div>
		<!--end::Tab content-->
	</div>
	<!--end::Card body-->
</div>
<!--end::Timeline Widget 1-->

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
		if(firstRender){
            await JS.InvokeVoidAsync("KTTimelineWidget1.init");
        }
    }
}