<!--begin::Complete-->
<div data-kt-stepper-element="content">
	<!--begin::Wrapper-->
	<div class="w-100">
		<!--begin::Heading-->
		<div class="pb-12 text-center">
			<!--begin::Title-->
			<h1 class="fw-bold text-gray-900">Project Created!</h1>
			<!--end::Title-->
			<!--begin::Description-->
			<div class="text-muted fw-semibold fs-4">If you need more info, please check how to create project</div>
			<!--end::Description-->
		</div>
		<!--end::Heading-->
		<!--begin::Actions-->
		<div class="d-flex flex-center pb-20">
			<button type="button" class="btn btn-lg btn-light me-3" data-kt-element="complete-start">Create New Project</button>
			<a href="" class="btn btn-lg btn-primary" data-bs-toggle="tooltip" title="Coming Soon">View Project</a>
		</div>
		<!--end::Actions-->
		<!--begin::Illustration-->
		<div class="text-center px-4">
			<img src='@KTTheme.GetAssetPath("media/illustrations/sketchy-1/9.png")' alt="" class="mww-100 mh-350px" />
		</div>
		<!--end::Illustration-->
	</div>
</div>
<!--end::Complete-->