<!--begin::Chart widget 9-->
<div class="card card-flush h-xl-100">
	<!--begin::Header-->
	<div class="card-header pt-5">
		<!--begin::Title-->
		<div class="card-title d-flex flex-column">
			<!--begin::Info-->
			<div class="d-flex align-items-center">
				<!--begin::Currency-->
				<span class="fs-4 fw-semibold text-gray-500 me-1 align-self-start">$</span>
				<!--end::Currency-->
				<!--begin::Amount-->
				<span class="fs-2hx fw-bold text-gray-900 me-2 lh-1">47,07</span>
				<!--end::Amount-->
				<!--begin::Badge-->
				<span class="badge badge-success fs-6 lh-1 py-1 px-2 d-flex flex-center" style="height: 22px">@((MarkupString)KTTheme.GetIcon("black-up", "fs-7 text-white ms-n1")) 2.2%</span>
				<!--end::Badge-->
			</div>
			<!--end::Info-->
			<!--begin::Subtitle-->
			<span class="d-flex align-items-center text-gray-500 pt-1 fw-semibold fs-6">Avg order Value 
			<span class="ms-1" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="Recent Stats">@((MarkupString)KTTheme.GetIcon("information", "fs-2 text-primary"))</span></span>
			<!--end::Subtitle-->
		</div>
		<!--end::Title-->
		<!--begin::Toolbar-->
		<div class="card-toolbar">
			<!--begin::Menu-->
			<button class="btn btn-icon btn-color-gray-500 btn-active-color-primary justify-content-end" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-overflow="true">@((MarkupString)KTTheme.GetIcon("dots-square", "fs-1"))</button>
			<!--begin::Menu 2-->
			<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px" data-kt-menu="true">
				<!--begin::Menu item-->
				<div class="menu-item px-3">
					<div class="menu-content fs-6 text-gray-900 fw-bold px-3 py-4">Quick Actions</div>
				</div>
				<!--end::Menu item-->
				<!--begin::Menu separator-->
				<div class="separator mb-3 opacity-75"></div>
				<!--end::Menu separator-->
				<!--begin::Menu item-->
				<div class="menu-item px-3">
					<a href="#" class="menu-link px-3">New Ticket</a>
				</div>
				<!--end::Menu item-->
				<!--begin::Menu item-->
				<div class="menu-item px-3">
					<a href="#" class="menu-link px-3">New Customer</a>
				</div>
				<!--end::Menu item-->
				<!--begin::Menu item-->
				<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start">
					<!--begin::Menu item-->
					<a href="#" class="menu-link px-3">
						<span class="menu-title">New Group</span>
						<span class="menu-arrow"></span>
					</a>
					<!--end::Menu item-->
					<!--begin::Menu sub-->
					<div class="menu-sub menu-sub-dropdown w-175px py-4">
						<!--begin::Menu item-->
						<div class="menu-item px-3">
							<a href="#" class="menu-link px-3">Admin Group</a>
						</div>
						<!--end::Menu item-->
						<!--begin::Menu item-->
						<div class="menu-item px-3">
							<a href="#" class="menu-link px-3">Staff Group</a>
						</div>
						<!--end::Menu item-->
						<!--begin::Menu item-->
						<div class="menu-item px-3">
							<a href="#" class="menu-link px-3">Member Group</a>
						</div>
						<!--end::Menu item-->
					</div>
					<!--end::Menu sub-->
				</div>
				<!--end::Menu item-->
				<!--begin::Menu item-->
				<div class="menu-item px-3">
					<a href="#" class="menu-link px-3">New Contact</a>
				</div>
				<!--end::Menu item-->
				<!--begin::Menu separator-->
				<div class="separator mt-3 opacity-75"></div>
				<!--end::Menu separator-->
				<!--begin::Menu item-->
				<div class="menu-item px-3">
					<div class="menu-content px-3 py-3">
						<a class="btn btn-primary btn-sm px-4" href="#">Generate Reports</a>
					</div>
				</div>
				<!--end::Menu item-->
			</div>
			<!--end::Menu 2-->
			<!--end::Menu-->
		</div>
		<!--end::Toolbar-->
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body d-flex align-items-end pb-6 ps-4 pe-6">
		<!--begin::Chart-->
		<div id="kt_charts_widget_9" class="w-100 min-h-auto" style="height: 250px"></div>
		<!--end::Chart-->
	</div>
	<!--end::Body-->
</div>
<!--end::Chart widget 9-->

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
		if(firstRender){
            await JS.InvokeVoidAsync("KTChartsWidget9.init");
        }
    }
}