<!--begin::Step 5-->
<div data-kt-stepper-element="content">
	<!--begin::Wrapper-->
	<div class="w-100">
		<!--begin::Heading-->
		<div class="pb-12 text-center">
			<!--begin::Title-->
			<h1 class="fw-bold text-gray-900">Campaign Created!</h1>
			<!--end::Title-->
			<!--begin::Description-->
			<div class="fw-semibold text-muted fs-4">You will receive an email with with the summary of your newly created campaign!</div>
			<!--end::Description-->
		</div>
		<!--end::Heading-->
		<!--begin::Actions-->
		<div class="d-flex flex-center pb-20">
			<button id="kt_modal_create_campaign_create_new" type="button" class="btn btn-lg btn-light me-3" data-kt-element="complete-start">Create New Campaign</button>
			<a href="" class="btn btn-lg btn-primary" data-bs-toggle="tooltip" title="Coming Soon">View Campaign</a>
		</div>
		<!--end::Actions-->
		<!--begin::Illustration-->
		<div class="text-center px-4">
			<img src='@KTTheme.GetAssetPath("media/illustrations/sketchy-1/9.png")' alt="" class="mww-100 mh-350px" />
		</div>
		<!--end::Illustration-->
	</div>
</div>
<!--end::Step 5-->