<!--begin:Row-->
<div class="row">
	<!--begin:Col-->
	<div class="col-lg-5 mb-6 mb-lg-0">
		<!--begin:Row-->
		<div class="row">
			<!--begin:Col-->
			<div class="col-lg-6">
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=account/overview" class="menu-link">
						<span class="menu-title">Overview</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=account/settings" class="menu-link">
						<span class="menu-title">Settings</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=account/security" class="menu-link">
						<span class="menu-title">Security</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=account/activity" class="menu-link">
						<span class="menu-title">Activity</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=account/billing" class="menu-link">
						<span class="menu-title">Billing</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
			</div>
			<!--end:Col-->
			<!--begin:Col-->
			<div class="col-lg-6">
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=account/statements" class="menu-link">
						<span class="menu-title">Statements</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=account/referrals" class="menu-link">
						<span class="menu-title">Referrals</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=account/api-keys" class="menu-link">
						<span class="menu-title">API Keys</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=account/logs" class="menu-link">
						<span class="menu-title">Logs</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
			</div>
			<!--end:Col-->
		</div>
		<!--end:Row-->
	</div>
	<!--end:Col-->
	<!--begin:Col-->
	<div class="col-lg-7">
		<img src='@KTTheme.GetAssetPath("media/stock/900x600/46.jpg")' class="rounded mw-100" alt="" />
	</div>
	<!--end:Col-->
</div>
<!--end:Row-->