<!--begin:Row-->
<div class="row">
	<!--begin:Col-->
	<div class="col-lg-4 mb-6 mb-lg-0">
		<!--begin:Menu item-->
		<div class="menu-item p-0 m-0">
			<!--begin:Menu link-->
			<a href="?page=widgets/lists" class="menu-link">
				<span class="menu-title">Lists</span>
			</a>
			<!--end:Menu link-->
		</div>
		<!--end:Menu item-->
		<!--begin:Menu item-->
		<div class="menu-item p-0 m-0">
			<!--begin:Menu link-->
			<a href="?page=widgets/statistics" class="menu-link">
				<span class="menu-title">Statistics</span>
			</a>
			<!--end:Menu link-->
		</div>
		<!--end:Menu item-->
		<!--begin:Menu item-->
		<div class="menu-item p-0 m-0">
			<!--begin:Menu link-->
			<a href="?page=widgets/charts" class="menu-link">
				<span class="menu-title">Charts</span>
			</a>
			<!--end:Menu link-->
		</div>
		<!--end:Menu item-->
		<!--begin:Menu item-->
		<div class="menu-item p-0 m-0">
			<!--begin:Menu link-->
			<a href="?page=widgets/mixed" class="menu-link">
				<span class="menu-title">Mixed</span>
			</a>
			<!--end:Menu link-->
		</div>
		<!--end:Menu item-->
		<!--begin:Menu item-->
		<div class="menu-item p-0 m-0">
			<!--begin:Menu link-->
			<a href="?page=widgets/tables" class="menu-link">
				<span class="menu-title">Tables</span>
			</a>
			<!--end:Menu link-->
		</div>
		<!--end:Menu item-->
		<!--begin:Menu item-->
		<div class="menu-item p-0 m-0">
			<!--begin:Menu link-->
			<a href="?page=widgets/feeds" class="menu-link">
				<span class="menu-title">Feeds</span>
			</a>
			<!--end:Menu link-->
		</div>
		<!--end:Menu item-->
	</div>
	<!--end:Col-->
	<!--begin:Col-->
	<div class="col-lg-8">
		<img src='@KTTheme.GetAssetPath("media/stock/900x600/44.jpg")' class="rounded mw-100" alt="" />
	</div>
	<!--end:Col-->
</div>
<!--end:Row-->