<!--begin::Empty-->
<div data-kt-search-element="empty" class="text-center d-none">
	<!--begin::Message-->
	<div class="fw-semibold py-10">
		<div class="text-gray-600 fs-3 mb-2">No users found</div>
		<div class="text-muted fs-6">Try to search by username, full name or email...</div>
	</div>
	<!--end::Message-->
	<!--begin::Illustration-->
	<div class="text-center px-5">
		<img src='@KTTheme.GetAssetPath("media/illustrations/sketchy-1/1.png")' alt="" class="w-100 h-200px h-sm-325px" />
	</div>
	<!--end::Illustration-->
</div>
<!--end::Empty-->