<!--begin::Suggestions-->
<div data-kt-search-element="suggestions">
	<!--begin::Heading-->
	<h3 class="fw-semibold mb-5">Recently searched:</h3>
	<!--end::Heading-->
	<!--begin::Users-->
	<div class="mh-375px scroll-y me-n7 pe-7">
		<!--begin::User-->
		<a href="#" class="d-flex align-items-center p-3 rounded bg-state-light bg-state-opacity-50 mb-1">
			<!--begin::Avatar-->
			<div class="symbol symbol-35px symbol-circle me-5">
				<img alt="Pic" src='@KTTheme.GetAssetPath("media/avatars/300-6.jpg")' />
			</div>
			<!--end::Avatar-->
			<!--begin::Info-->
			<div class="fw-semibold">
				<span class="fs-6 text-gray-800 me-2">Emma Smith</span>
				<span class="badge badge-light">Art Director</span>
			</div>
			<!--end::Info-->
		</a>
		<!--end::User-->
		<!--begin::User-->
		<a href="#" class="d-flex align-items-center p-3 rounded bg-state-light bg-state-opacity-50 mb-1">
			<!--begin::Avatar-->
			<div class="symbol symbol-35px symbol-circle me-5">
				<span class="symbol-label bg-light-danger text-danger fw-semibold">M</span>
			</div>
			<!--end::Avatar-->
			<!--begin::Info-->
			<div class="fw-semibold">
				<span class="fs-6 text-gray-800 me-2">Melody Macy</span>
				<span class="badge badge-light">Marketing Analytic</span>
			</div>
			<!--end::Info-->
		</a>
		<!--end::User-->
		<!--begin::User-->
		<a href="#" class="d-flex align-items-center p-3 rounded bg-state-light bg-state-opacity-50 mb-1">
			<!--begin::Avatar-->
			<div class="symbol symbol-35px symbol-circle me-5">
				<img alt="Pic" src='@KTTheme.GetAssetPath("media/avatars/300-1.jpg")' />
			</div>
			<!--end::Avatar-->
			<!--begin::Info-->
			<div class="fw-semibold">
				<span class="fs-6 text-gray-800 me-2">Max Smith</span>
				<span class="badge badge-light">Software Enginer</span>
			</div>
			<!--end::Info-->
		</a>
		<!--end::User-->
		<!--begin::User-->
		<a href="#" class="d-flex align-items-center p-3 rounded bg-state-light bg-state-opacity-50 mb-1">
			<!--begin::Avatar-->
			<div class="symbol symbol-35px symbol-circle me-5">
				<img alt="Pic" src='@KTTheme.GetAssetPath("media/avatars/300-5.jpg")' />
			</div>
			<!--end::Avatar-->
			<!--begin::Info-->
			<div class="fw-semibold">
				<span class="fs-6 text-gray-800 me-2">Sean Bean</span>
				<span class="badge badge-light">Web Developer</span>
			</div>
			<!--end::Info-->
		</a>
		<!--end::User-->
		<!--begin::User-->
		<a href="#" class="d-flex align-items-center p-3 rounded bg-state-light bg-state-opacity-50 mb-1">
			<!--begin::Avatar-->
			<div class="symbol symbol-35px symbol-circle me-5">
				<img alt="Pic" src='@KTTheme.GetAssetPath("media/avatars/300-25.jpg")' />
			</div>
			<!--end::Avatar-->
			<!--begin::Info-->
			<div class="fw-semibold">
				<span class="fs-6 text-gray-800 me-2">Brian Cox</span>
				<span class="badge badge-light">UI/UX Designer</span>
			</div>
			<!--end::Info-->
		</a>
		<!--end::User-->
	</div>
	<!--end::Users-->
</div>
<!--end::Suggestions-->