@using Starterkit.Shared.Partials.Modals.CreateCampaign.Steps

<!--begin::Modal - Create Campaign-->
<div class="modal fade" id="kt_modal_create_campaign" tabindex="-1" aria-hidden="true">
	<!--begin::Modal dialog-->
	<div class="modal-dialog modal-fullscreen p-9">
		<!--begin::Modal content-->
		<div class="modal-content modal-rounded">
			<!--begin::Modal header-->
			<div class="modal-header py-7 d-flex justify-content-between">
				<!--begin::Modal title-->
				<h2>Create Campaign</h2>
				<!--end::Modal title-->
				<!--begin::Close-->
				<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">@((MarkupString)KTTheme.GetIcon("cross", "fs-1"))</div>
				<!--end::Close-->
			</div>
			<!--begin::Modal header-->
			<!--begin::Modal body-->
			<div class="modal-body scroll-y m-5">
				<!--begin::Stepper-->
				<div class="stepper stepper-links d-flex flex-column" id="kt_modal_create_campaign_stepper">
					<!--begin::Nav-->
					<div class="stepper-nav justify-content-center py-2">
						<!--begin::Step 1-->
						<div class="stepper-item me-5 me-md-15 current" data-kt-stepper-element="nav">
							<h3 class="stepper-title">Campaign Details</h3>
						</div>
						<!--end::Step 1-->
						<!--begin::Step 2-->
						<div class="stepper-item me-5 me-md-15" data-kt-stepper-element="nav">
							<h3 class="stepper-title">Creative Uploads</h3>
						</div>
						<!--end::Step 2-->
						<!--begin::Step 3-->
						<div class="stepper-item me-5 me-md-15" data-kt-stepper-element="nav">
							<h3 class="stepper-title">Audiences</h3>
						</div>
						<!--end::Step 3-->
						<!--begin::Step 4-->
						<div class="stepper-item me-5 me-md-15" data-kt-stepper-element="nav">
							<h3 class="stepper-title">Budget Estimates</h3>
						</div>
						<!--end::Step 4-->
						<!--begin::Step 5-->
						<div class="stepper-item" data-kt-stepper-element="nav">
							<h3 class="stepper-title">Completed</h3>
						</div>
						<!--end::Step 5-->
					</div>
					<!--end::Nav-->
					<!--begin::Form-->
					<form class="mx-auto w-100 mw-600px pt-15 pb-10" novalidate="novalidate" id="kt_modal_create_campaign_stepper_form">
						<_Step1></_Step1>
						<_Step2></_Step2>
						<_Step3></_Step3>
						<_Step4></_Step4>
						<_Step5></_Step5>
						<!--begin::Actions-->
						<div class="d-flex flex-stack pt-10">
							<!--begin::Wrapper-->
							<div class="me-2">
								<button type="button" class="btn btn-lg btn-light-primary me-3" data-kt-stepper-action="previous" data-kt-stepper-state="hide-on-last-step">@((MarkupString)KTTheme.GetIcon("arrow-left", "fs-3 me-1")) Back</button>
							</div>
							<!--end::Wrapper-->
							<!--begin::Wrapper-->
							<div>
								<button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="submit">
									<span class="indicator-label">Submit @((MarkupString)KTTheme.GetIcon("arrow-right", "fs-3 ms-2 me-0"))</span>
									<span class="indicator-progress">Please wait... 
									<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
								</button>
								<button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="next">Continue @((MarkupString)KTTheme.GetIcon("arrow-right", "fs-3 ms-1 me-0"))</button>
							</div>
							<!--end::Wrapper-->
						</div>
						<!--end::Actions-->
					</form>
					<!--end::Form-->
				</div>
				<!--end::Stepper-->
			</div>
			<!--begin::Modal body-->
		</div>
	</div>
</div>
<!--end::Modal - Create Campaign-->