<!--begin:Dashboards menu-->
<div class="menu-active-bg pt-1 pb-3 px-3 py-lg-6 px-lg-6" data-kt-menu-dismiss="true">
	<!--begin:Row-->
	<div class="row">
		<!--begin:Col-->
		<div class="col-lg-6">
			<!--begin:Row-->
			<div class="row">
				<!--begin:Col-->
				<div class="col-lg-6 mb-3">
					<!--begin:Heading-->
					<h4 class="fs-6 fs-lg-4 text-gray-800 fw-bold mt-3 mb-3 ms-4">Layouts</h4>
					<!--end:Heading-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=layouts/light-sidebar" class="menu-link">
							<span class="menu-bullet">
								<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
							</span>
							<span class="menu-title">Light Sidebar</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=layouts/dark-sidebar" class="menu-link">
							<span class="menu-bullet">
								<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
							</span>
							<span class="menu-title">Dark Sidebar</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=layouts/light-header" class="menu-link">
							<span class="menu-bullet">
								<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
							</span>
							<span class="menu-title">Light Header</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=layouts/dark-header" class="menu-link">
							<span class="menu-bullet">
								<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
							</span>
							<span class="menu-title">Dark Header</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Col-->
				<!--begin:Col-->
				<div class="col-lg-6 mb-3">
					<!--begin:Heading-->
					<h4 class="fs-6 fs-lg-4 text-gray-800 fw-bold mt-3 mb-3 ms-4">Toolbars</h4>
					<!--end:Heading-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=toolbars/classic" class="menu-link">
							<span class="menu-bullet">
								<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
							</span>
							<span class="menu-title">Classic</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=toolbars/saas" class="menu-link">
							<span class="menu-bullet">
								<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
							</span>
							<span class="menu-title">SaaS</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=toolbars/accounting" class="menu-link">
							<span class="menu-bullet">
								<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
							</span>
							<span class="menu-title">Accounting</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=toolbars/extended" class="menu-link">
							<span class="menu-bullet">
								<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
							</span>
							<span class="menu-title">Extended</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=toolbars/reports" class="menu-link">
							<span class="menu-bullet">
								<span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
							</span>
							<span class="menu-title">Reports</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Col-->
			</div>
			<!--end:Row-->
			<div class="separator separator-dashed mx-lg-5 mt-2 mb-6"></div>
			<!--begin:Layout Builder-->
			<div class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-2 mb-5 mb-lg-0 mx-lg-5">
				<div class="d-flex flex-column me-5">
					<div class="fs-6 fw-bold text-gray-800">Layout Builder</div>
					<div class="fs-7 fw-semibold text-muted">Customize, preview and export</div>
				</div>
				<a href="?page=layout-builder" class="btn btn-sm btn-primary fw-bold">Try Builder</a>
			</div>
			<!--end:Layout Builder-->
		</div>
		<!--end:Col-->
		<!--begin:Col-->
		<div class="col-lg-6 mb-3 py-lg-3 pe-lg-8 d-flex align-items-center">
			<img src='@KTTheme.GetAssetPath("media/stock/900x600/45.jpg")' class="rounded mw-100" alt="" />
		</div>
		<!--end:Col-->
	</div>
	<!--end:Row-->
</div>
<!--end:Dashboards menu-->