<!--begin:Row-->
<div class="row">
	<!--begin:Col-->
	<div class="col-lg-7">
		<!--begin:Row-->
		<div class="row">
			<!--begin:Col-->
			<div class="col-lg-4 mb-6 mb-lg-0">
				<!--begin:Menu section-->
				<div class="mb-0">
					<!--begin:Menu heading-->
					<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">General Modals</h4>
					<!--end:Menu heading-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/general/invite-friends" class="menu-link">
							<span class="menu-title">Invite Friends</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/general/view-users" class="menu-link">
							<span class="menu-title">View Users</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/general/select-users" class="menu-link">
							<span class="menu-title">Select Users</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/general/upgrade-plan" class="menu-link">
							<span class="menu-title">Upgrade Plan</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/general/share-earn" class="menu-link">
							<span class="menu-title">Share & Earn</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/forms/new-target" class="menu-link">
							<span class="menu-title">New Target</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/forms/new-card" class="menu-link">
							<span class="menu-title">New Card</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/forms/new-address" class="menu-link">
							<span class="menu-title">New Address</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/forms/create-api-key" class="menu-link">
							<span class="menu-title">Create API Key</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/forms/bidding" class="menu-link">
							<span class="menu-title">Bidding</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Menu section-->
			</div>
			<!--end:Col-->
			<!--begin:Col-->
			<div class="col-lg-4 mb-6 mb-lg-0">
				<!--begin:Menu section-->
				<div class="mb-6">
					<!--begin:Menu heading-->
					<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Advanced Modals</h4>
					<!--end:Menu heading-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/wizards/create-app" class="menu-link">
							<span class="menu-title">Create App</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/wizards/create-campaign" class="menu-link">
							<span class="menu-title">Create Campaign</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/wizards/create-account" class="menu-link">
							<span class="menu-title">Create Business Acc</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/wizards/create-project" class="menu-link">
							<span class="menu-title">Create Project</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/wizards/top-up-wallet" class="menu-link">
							<span class="menu-title">Top Up Wallet</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/wizards/offer-a-deal" class="menu-link">
							<span class="menu-title">Offer a Deal</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/wizards/two-factor-authentication" class="menu-link">
							<span class="menu-title">Two Factor Auth</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Menu section-->
				<!--begin:Menu section-->
				<div class="mb-0">
					<!--begin:Menu heading-->
					<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Search</h4>
					<!--end:Menu heading-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/search/horizontal" class="menu-link">
							<span class="menu-title">Horizontal</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/search/vertical" class="menu-link">
							<span class="menu-title">Vertical</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/search/users" class="menu-link">
							<span class="menu-title">Users</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/search/select-location" class="menu-link">
							<span class="menu-title">Select Location</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Menu section-->
			</div>
			<!--end:Col-->
			<!--begin:Col-->
			<div class="col-lg-4 mb-6 mb-lg-0">
				<!--begin:Menu section-->
				<div class="mb-0">
					<!--begin:Menu heading-->
					<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Wizards</h4>
					<!--end:Menu heading-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/wizards/horizontal" class="menu-link">
							<span class="menu-title">Horizontal</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/wizards/vertical" class="menu-link">
							<span class="menu-title">Vertical</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/wizards/two-factor-authentication" class="menu-link">
							<span class="menu-title">Two Factor Auth</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/wizards/create-app" class="menu-link">
							<span class="menu-title">Create App</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/wizards/create-campaign" class="menu-link">
							<span class="menu-title">Create Campaign</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/wizards/create-account" class="menu-link">
							<span class="menu-title">Create Account</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/wizards/create-project" class="menu-link">
							<span class="menu-title">Create Project</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/modals/wizards/top-up-wallet" class="menu-link">
							<span class="menu-title">Top Up Wallet</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=utilities/wizards/offer-a-deal" class="menu-link">
							<span class="menu-title">Offer a Deal</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Menu section-->
			</div>
			<!--end:Col-->
		</div>
		<!--end:Row-->
	</div>
	<!--end:Col-->
	<!--begin:Col-->
	<div class="col-lg-5 pe-lg-5">
		<img src='@KTTheme.GetAssetPath("media/stock/600x600/img-84.jpg")' class="rounded mw-100" alt="" />
	</div>
	<!--end:Col-->
</div>
<!--end:Row-->