<!--begin:Row-->
<div class="row">
	<!--begin:Col-->
	<div class="col-lg-3 mb-6 mb-lg-0">
		<!--begin:Menu section-->
		<div class="mb-6">
			<!--begin:Menu heading-->
			<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Corporate Layout</h4>
			<!--end:Menu heading-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/corporate/sign-in" class="menu-link">
					<span class="menu-title">Sign-In</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/corporate/sign-up" class="menu-link">
					<span class="menu-title">Sign-Up</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/corporate/two-factor" class="menu-link">
					<span class="menu-title">Two-Factor</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/corporate/reset-password" class="menu-link">
					<span class="menu-title">Reset Password</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/corporate/new-password" class="menu-link">
					<span class="menu-title">New Password</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu section-->
		<!--begin:Menu section-->
		<div class="mb-0">
			<!--begin:Menu heading-->
			<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Overlay Layout</h4>
			<!--end:Menu heading-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/overlay/sign-in" class="menu-link">
					<span class="menu-title">Sign-In</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/overlay/sign-up" class="menu-link">
					<span class="menu-title">Sign-Up</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/overlay/two-factor" class="menu-link">
					<span class="menu-title">Two-Factor</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/overlay/reset-password" class="menu-link">
					<span class="menu-title">Reset Password</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/overlay/new-password" class="menu-link">
					<span class="menu-title">New Password</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu section-->
	</div>
	<!--end:Col-->
	<!--begin:Col-->
	<div class="col-lg-3 mb-6 mb-lg-0">
		<!--begin:Menu section-->
		<div class="mb-6">
			<!--begin:Menu heading-->
			<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Creative Layout</h4>
			<!--end:Menu heading-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/creative/sign-in" class="menu-link">
					<span class="menu-title">Sign-in</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/creative/sign-up" class="menu-link">
					<span class="menu-title">Sign-up</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/creative/two-factor" class="menu-link">
					<span class="menu-title">Two-Factor</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/creative/reset-password" class="menu-link">
					<span class="menu-title">Reset Password</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/creative/new-password" class="menu-link">
					<span class="menu-title">New Password</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu section-->
		<!--begin:Menu section-->
		<div class="mb-6">
			<!--begin:Menu heading-->
			<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Fancy Layout</h4>
			<!--end:Menu heading-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/fancy/sign-in" class="menu-link">
					<span class="menu-title">Sign-In</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/fancy/sign-up" class="menu-link">
					<span class="menu-title">Sign-Up</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/fancy/two-factor" class="menu-link">
					<span class="menu-title">Two-Factor</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/fancy/reset-password" class="menu-link">
					<span class="menu-title">Reset Password</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/layouts/fancy/new-password" class="menu-link">
					<span class="menu-title">New Password</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu section-->
	</div>
	<!--end:Col-->
	<!--begin:Col-->
	<div class="col-lg-3 mb-6 mb-lg-0">
		<!--begin:Menu section-->
		<div class="mb-0">
			<!--begin:Menu heading-->
			<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">General</h4>
			<!--end:Menu heading-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/extended/multi-steps-sign-up" class="menu-link">
					<span class="menu-title">Multi-Steps Sign-Up</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/general/welcome" class="menu-link">
					<span class="menu-title">Welcome Message</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/general/verify-email" class="menu-link">
					<span class="menu-title">Verify Email</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/general/coming-soon" class="menu-link">
					<span class="menu-title">Coming Soon</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/general/password-confirmation" class="menu-link">
					<span class="menu-title">Password Confirmation</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/general/account-deactivated" class="menu-link">
					<span class="menu-title">Account Deactivation</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/general/error-404" class="menu-link">
					<span class="menu-title">Error 404</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/general/error-500" class="menu-link">
					<span class="menu-title">Error 500</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu section-->
	</div>
	<!--end:Col-->
	<!--begin:Col-->
	<div class="col-lg-3 mb-6 mb-lg-0">
		<!--begin:Menu section-->
		<div class="mb-0">
			<!--begin:Menu heading-->
			<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Email Templates</h4>
			<!--end:Menu heading-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/email/welcome-message" class="menu-link">
					<span class="menu-title">Welcome Message</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/email/reset-password" class="menu-link">
					<span class="menu-title">Reset Password</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/email/subscription-confirmed" class="menu-link">
					<span class="menu-title">Subscription Confirmed</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/email/card-declined" class="menu-link">
					<span class="menu-title">Credit Card Declined</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/email/promo-1" class="menu-link">
					<span class="menu-title">Promo 1</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/email/promo-2" class="menu-link">
					<span class="menu-title">Promo 2</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item-->
			<div class="menu-item p-0 m-0">
				<!--begin:Menu link-->
				<a href="?page=authentication/email/promo-3" class="menu-link">
					<span class="menu-title">Promo 3</span>
				</a>
				<!--end:Menu link-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu section-->
	</div>
	<!--end:Col-->
</div>
<!--end:Row-->