<!--begin:Row-->
<div class="row">
	<!--begin:Col-->
	<div class="col-lg-8">
		<!--begin:Row-->
		<div class="row">
			<!--begin:Col-->
			<div class="col-lg-3 mb-6 mb-lg-0">
				<!--begin:Menu heading-->
				<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">User Profile</h4>
				<!--end:Menu heading-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=pages/user-profile/overview" class="menu-link">
						<span class="menu-title">Overview</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=pages/user-profile/projects" class="menu-link">
						<span class="menu-title">Projects</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=pages/user-profile/campaigns" class="menu-link">
						<span class="menu-title">Campaigns</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=pages/user-profile/documents" class="menu-link">
						<span class="menu-title">Documents</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=pages/user-profile/followers" class="menu-link">
						<span class="menu-title">Followers</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<div class="menu-item p-0 m-0">
					<!--begin:Menu link-->
					<a href="?page=pages/user-profile/activity" class="menu-link">
						<span class="menu-title">Activity</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
			</div>
			<!--end:Col-->
			<!--begin:Col-->
			<div class="col-lg-3 mb-6 mb-lg-0">
				<!--begin:Menu section-->
				<div class="mb-6">
					<!--begin:Menu heading-->
					<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Corporate</h4>
					<!--end:Menu heading-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/about" class="menu-link">
							<span class="menu-title">About</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/team" class="menu-link">
							<span class="menu-title">Our Team</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/contact" class="menu-link">
							<span class="menu-title">Contact Us</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/licenses" class="menu-link">
							<span class="menu-title">Licenses</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/sitemap" class="menu-link">
							<span class="menu-title">Sitemap</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Menu section-->
				<!--begin:Menu section-->
				<div class="mb-0">
					<!--begin:Menu heading-->
					<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Careers</h4>
					<!--end:Menu heading-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/careers/list" class="menu-link">
							<span class="menu-title">Careers List</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/careers/apply" class="menu-link">
							<span class="menu-title">Careers Apply</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Menu section-->
			</div>
			<!--end:Col-->
			<!--begin:Col-->
			<div class="col-lg-3 mb-6 mb-lg-0">
				<!--begin:Menu section-->
				<div class="mb-6">
					<!--begin:Menu heading-->
					<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">FAQ</h4>
					<!--end:Menu heading-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/faq/classic" class="menu-link">
							<span class="menu-title">FAQ Classic</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/faq/extended" class="menu-link">
							<span class="menu-title">FAQ Extended</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Menu section-->
				<!--begin:Menu section-->
				<div class="mb-6">
					<!--begin:Menu heading-->
					<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Blog</h4>
					<!--end:Menu heading-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/blog/home" class="menu-link">
							<span class="menu-title">Blog Home</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/blog/post" class="menu-link">
							<span class="menu-title">Blog Post</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Menu section-->
				<!--begin:Menu section-->
				<div class="mb-0">
					<!--begin:Menu heading-->
					<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Pricing</h4>
					<!--end:Menu heading-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/pricing/column" class="menu-link">
							<span class="menu-title">Column Pricing</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/pricing/table" class="menu-link">
							<span class="menu-title">Table Pricing</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Menu section-->
			</div>
			<!--end:Col-->
			<!--begin:Col-->
			<div class="col-lg-3 mb-6 mb-lg-0">
				<!--begin:Menu section-->
				<div class="mb-0">
					<!--begin:Menu heading-->
					<h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Social</h4>
					<!--end:Menu heading-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/social/feeds" class="menu-link">
							<span class="menu-title">Feeds</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/social/activity" class="menu-link">
							<span class="menu-title">Activty</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/social/followers" class="menu-link">
							<span class="menu-title">Followers</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
					<!--begin:Menu item-->
					<div class="menu-item p-0 m-0">
						<!--begin:Menu link-->
						<a href="?page=pages/social/settings" class="menu-link">
							<span class="menu-title">Settings</span>
						</a>
						<!--end:Menu link-->
					</div>
					<!--end:Menu item-->
				</div>
				<!--end:Menu section-->
			</div>
			<!--end:Col-->
		</div>
		<!--end:Row-->
	</div>
	<!--end:Col-->
	<!--begin:Col-->
	<div class="col-lg-4">
		<img src='@KTTheme.GetAssetPath("media/stock/600x600/img-82.jpg")' class="rounded mw-100" alt="" />
	</div>
	<!--end:Col-->
</div>
<!--end:Row-->