<!--begin::Engage widget 2-->
<div class="card bgi-position-y-bottom bgi-position-x-end bgi-no-repeat bgi-size-cover min-h-250px h-xl-100" style='background-position: 100% 100%;background-size: 500px auto;background-image:url(@KTTheme.GetAssetPath("media/misc/city.png"))'>
	<!--begin::Body-->
	<div class="card-body d-flex flex-column justify-content-center ps-lg-15">
		<!--begin::Title-->
		<h3 class="text-gray-800 fs-2qx fw-bolder mb-4 mb-lg-8">Good admin theme 
		<br />is a tool of enthusiasm</h3>
		<!--end::Title-->
		<!--begin::Action-->
		<div class="m-0">
			<a href='#' class="btn btn-danger fw-semibold" data-bs-target="#kt_modal_create_app" data-bs-toggle="modal">Create App</a>
		</div>
		<!--begin::Action-->
	</div>
	<!--end::Body-->
</div>
<!--end::Engage widget 2-->