@page "/create-backup-configuration"
@using Arius.Web.Application
@using Arius.Web.Core
@inject BackupConfigurationService BackupConfigurationService
@inject NavigationManager Navigation

<h3>Create Backup Configuration</h3>

<EditForm Model="backupConfiguration" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="path">Path</label>
        <InputText id="path" class="form-control" @bind-Value="backupConfiguration.Path" />
    </div>
    <div class="form-group">
        <label for="accountName">Account Name</label>
        <InputText id="accountName" class="form-control" @bind-Value="backupConfiguration.AccountName" />
    </div>
    <div class="form-group">
        <label for="accountKey">Account Key</label>
        <InputText id="accountKey" class="form-control" @bind-Value="backupConfiguration.AccountKey" />
    </div>
    <div class="form-group">
        <label for="passphrase">Passphrase</label>
        <InputText id="passphrase" class="form-control" @bind-Value="backupConfiguration.Passphrase" />
    </div>
    <div class="form-group">
        <label for="containerName">Container Name</label>
        <InputText id="containerName" class="form-control" @bind-Value="backupConfiguration.ContainerName" />
    </div>
    <div class="form-group">
        <label for="tier">Tier</label>
        <InputText id="tier" class="form-control" @bind-Value="backupConfiguration.Tier" />
    </div>
    <div class="form-group">
        <label for="removeLocal">Remove Local</label>
        <InputCheckbox id="removeLocal" class="form-check-input" @bind-Value="backupConfiguration.RemoveLocal" />
    </div>
    <div class="form-group">
        <label for="dedup">Deduplication</label>
        <InputCheckbox id="dedup" class="form-check-input" @bind-Value="backupConfiguration.Dedup" />
    </div>
    <div class="form-group">
        <label for="fastHash">Fast Hash</label>
        <InputCheckbox id="fastHash" class="form-check-input" @bind-Value="backupConfiguration.FastHash" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    private BackupConfiguration backupConfiguration = new BackupConfiguration();

    private async Task HandleValidSubmit()
    {
        await BackupConfigurationService.AddBackupConfigurationAsync(backupConfiguration);
        Navigation.NavigateTo("/backup-configurations");
    }
}
