@page "/edit-storage-account/{id:int}"
@using Arius.Web.Application
@inject RepositoryService RepositoryService
@inject NavigationManager Navigation
@using Syncfusion.Blazor.DataForm

<h3>Edit Storage Account</h3>

<SfDataForm ID="StorageAccountForm"
            Model="@storageAccountViewModel"
            OnValidSubmit="HandleValidSubmit">
    <FormValidator>
        <DataAnnotationsValidator/>
    </FormValidator>
    <FormItems>
        <FormAutoGenerateItems/>
    </FormItems>
</SfDataForm>

@code {
    private StorageAccountViewModel storageAccountViewModel = new();
    
    [Parameter]
    public int            Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var storageAccount = await RepositoryService.GetStorageAccountByIdAsync(Id);
        storageAccountViewModel = storageAccount.ToViewModel();
    }

    private async Task HandleValidSubmit()
    {
        var storageAccount = storageAccountViewModel.ToDomainModel();
        await RepositoryService.UpdateStorageAccountAsync(storageAccount);
        Navigation.NavigateTo("/repositories");
    }
}
