@page "/edit-repository/{id:int}"
@using Arius.Web.Application
@using Arius.Web.Core
@inject RepositoryService RepositoryService
@inject NavigationManager Navigation

<h3>Edit Repository</h3>

<EditForm Model="repositoryOptions" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><label for="path">Path</label></td>
                <td><InputText id="path" class="form-control" @bind-Value="repositoryOptions.Path" /></td>
            </tr>
            <tr>
                <td><label for="accountName">Blob Account Name</label></td>
                <td><InputText id="accountName" class="form-control" @bind-Value="repositoryOptions.AccountName" /></td>
            </tr>
            <tr>
                <td><label for="accountKey">Blob Account Key</label></td>
                <td><InputText id="accountKey" class="form-control" @bind-Value="repositoryOptions.AccountKey" /></td>
            </tr>
            <tr>
                <td><label for="containerName">Blob Container Name</label></td>
                <td><InputText id="containerName" class="form-control" @bind-Value="repositoryOptions.ContainerName" /></td>
            </tr>
            <tr>
                <td><label for="passphrase">Passphrase</label></td>
                <td><InputText id="passphrase" class="form-control" @bind-Value="repositoryOptions.Passphrase" /></td>
            </tr>
            <tr>
                <td><label for="tier">Tier</label></td>
                <td><InputText id="tier" class="form-control" @bind-Value="repositoryOptions.Tier" /></td>
            </tr>
            <tr>
                <td><label for="removeLocal">Remove Local</label></td>
                <td><InputCheckbox id="removeLocal" @bind-Value="repositoryOptions.RemoveLocal" /></td>
            </tr>
            <tr>
                <td><label for="dedup">Dedup</label></td>
                <td><InputCheckbox id="dedup" @bind-Value="repositoryOptions.Dedup" /></td>
            </tr>
            <tr>
                <td><label for="fastHash">Fast Hash</label></td>
                <td><InputCheckbox id="fastHash" @bind-Value="repositoryOptions.FastHash" /></td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</EditForm>

@code {
    private RepositoryOptions repositoryOptions = new();

    [Parameter] public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        repositoryOptions = await RepositoryService.GetRepositoryByIdAsync(Id);
    }

    private async Task HandleValidSubmit()
    {
        await RepositoryService.UpdateRepositoryAsync(repositoryOptions);
        Navigation.NavigateTo("/repositories");
    }
}
