@page "/edit-repository/{id:int}"
@using Arius.Web.Application
@using Syncfusion.Blazor.DataForm
@inject RepositoryService RepositoryService
@inject NavigationManager Navigation

<h3>Edit Repository</h3>

<SfDataForm ID="RepositoryForm"
            Model="@repositoryViewModel"
            OnValidSubmit="HandleValidSubmit">
    <FormValidator>
        <DataAnnotationsValidator></DataAnnotationsValidator>
    </FormValidator>
    <FormItems>
        <FormAutoGenerateItems></FormAutoGenerateItems>
    </FormItems>
</SfDataForm>

@code {
    private RepositoryViewModel repositoryViewModel = new();

    [Parameter] 
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var repository = await RepositoryService.GetRepositoryByIdAsync(Id);
        repositoryViewModel = repository.ToViewModel();
    }

    private async Task HandleValidSubmit(EditContext context)
    {
        var repository = repositoryViewModel.ToDomainModel();
        await RepositoryService.UpdateRepositoryAsync(repository);
        Navigation.NavigateTo("/repositories");
    }
}