@page "/backup-configurations"
@using Arius.Web.Application
@using Arius.Web.Core
@inject BackupConfigurationService BackupConfigurationService

<h3>Backup Configurations</h3>

<table class="table">
    <thead>
    <tr>
        <th>Path</th>
        <th>Account Name</th>
        <th>Container Name</th>
        <th>Tier</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @if (backupConfigurations != null)
    {
        @foreach (var config in backupConfigurations)
        {
            <tr>
                <td>@config.Path</td>
                <td>@config.AccountName</td>
                <td>@config.ContainerName</td>
                <td>@config.Tier</td>
                <td>
                    <a href="/edit-backup-configuration/@config.Id">Edit</a> |
                    <a href="/delete-backup-configuration/@config.Id">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

@code {
    private IEnumerable<BackupConfiguration> backupConfigurations;

    protected override async Task OnInitializedAsync()
    {
        backupConfigurations = await BackupConfigurationService.GetBackupConfigurationsAsync();
    }
}
