@* @page "/remove-repository/{id:int}"
@using Arius.Web.Application
@using Arius.Web.Core
@inject RepositoryService RepositoryService
@inject NavigationManager        Navigation

<h3>Remove Repository</h3>

<p>Are you sure you want to delete the following backup configuration?</p>

<p><b>NOTE</b> The actual files will not be deleted, just this configuration.</p>

<ul>
    <li><strong>Account Name:</strong> @backupConfiguration.AccountName</li>
    <li><strong>Container Name:</strong> @backupConfiguration.ContainerName</li>
</ul>

<button class="btn btn-danger" @onclick="DeleteConfiguration">Delete</button>
<button class="btn btn-secondary" @onclick="Cancel">Cancel</button>

@code {
    [Parameter] public int Id { get; set; }

    private RepositoryOptions backupConfiguration;

    protected override async Task OnInitializedAsync()
    {
        backupConfiguration = await RepositoryService.GetCloudRepositoryByIdAsync(Id);
    }

    private async Task DeleteConfiguration()
    {
        await RepositoryService.RemoveRepositoryAsync(Id);
        Navigation.NavigateTo("/repositories");
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/repositories");
    }
} *@