@using Starterkit.Shared.Partials.General;
@inject IJSRuntime JS
@page "/new-password"

<script suppress-error="BL9992" src='@KTTheme.GetAssetPath("js/custom/authentication/reset-password/new-password.js")'></script>

<!--begin::Form-->
<form class="form w-100" novalidate="novalidate" id="kt_new_password_form" data-kt-redirect-url="/signin" action="#">
    <!--begin::Heading-->
    <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 class="text-gray-900 mb-3">
            Setup New Password
        </h1>
        <!--end::Title-->

        <!--begin::Link-->
        <div class="text-gray-500 fw-semibold fs-4">
            Already have reset your password ?

            <a href="/signin" class="link-primary fw-bold">
                Sign in
            </a>
        </div>
        <!--end::Link-->
    </div>
    <!--begin::Heading-->

    <!--begin::Input group-->
    <div class="fv-row mb-8" data-kt-password-meter="true">
        <!--begin::Wrapper-->
        <div class="mb-1">
            <!--begin::Label-->
            <label class="form-label fw-bold text-gray-900 fs-6">
                Password
            </label>
            <!--end::Label-->

            <!--begin::Input wrapper-->
            <div class="position-relative mb-3">    
                <input class="form-control bg-transparent" type="password" placeholder="Password" name="password" autocomplete="off"/>

                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>

                    <i class="bi bi-eye fs-2 d-none"></i>
                </span>
            </div>
            <!--end::Input wrapper-->

            <!--begin::Meter-->
            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
            </div>
            <!--end::Meter-->
        </div>
        <!--end::Wrapper-->

        <!--begin::Hint-->
        <div class="text-muted">
            Use 8 or more characters with a mix of letters, numbers & symbols.
        </div>
        <!--end::Hint-->
    </div>
    <!--end::Input group--->

    <!--begin::Input group--->
    <div class="fv-row mb-10">
        <label class="form-label fw-bold text-gray-900 fs-6">Confirm Password</label>

        <input class="form-control form-control-lg form-control-solid" type="password" placeholder="" name="confirm-password" autocomplete="off"/>
    </div>
    <!--end::Input group--->

    <!--begin::Input group--->
    <div class="fv-row mb-8">
        <label class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="toc" value="1"/>

            <span class="form-check-label fw-semibold text-gray-700 fs-6 ms-1">
                I Agree &                 
                <a href="#" class="ms-1 link-primary">Terms and conditions</a>.
            </span>
        </label>
    </div>
    <!--end::Input group--->

    <!--begin::Action-->
    <div class="d-grid mb-10">
        <button type="button" id="kt_new_password_submit" class="btn btn-primary">
                <_ButtonIndicator ButtonLabel="Submit"></_ButtonIndicator>
        </button>
    </div>
    <!--end::Action-->
</form>
<!--end::Form-->

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
		if(firstRender){
            await Task.Delay(1000);
            await JS.InvokeVoidAsync("KTAuthNewPassword.init");
        }
    }
}