@using Starterkit.Shared.Partials.General;
@inject IJSRuntime JS
@page "/reset-password"

<script suppress-error="BL9992" src='@KTTheme.GetAssetPath("js/custom/authentication/reset-password/reset-password.js")'></script>

<!--begin::Form-->
<form class="form w-100" novalidate="novalidate" id="kt_password_reset_form" data-kt-redirect-url="/new-password" action="#">
    <!--begin::Heading-->
    <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 class="text-gray-900 mb-3">
            Forgot Password ?
        </h1>
        <!--end::Title-->

        <!--begin::Link-->
        <div class="text-gray-500 fw-semibold fs-4">
            Enter your email to reset your password.
        </div>
        <!--end::Link-->
    </div>
    <!--begin::Heading-->

    <!--begin::Input group--->
    <div class="fv-row mb-8">
        <!--begin::Email-->
        <input type="text" placeholder="Email" name="email" autocomplete="off" class="form-control bg-transparent"/> 
        <!--end::Email-->
    </div>

    <!--begin::Actions-->
    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
        <button type="button" id="kt_password_reset_submit" class="btn btn-primary me-4">
            <_ButtonIndicator ButtonLabel="Submit"></_ButtonIndicator>
        </button>

        <a href="/signin" class="btn btn-light">Cancel</a>
    </div>
    <!--end::Actions-->
</form>
<!--end::Form-->

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
		if(firstRender){
            await Task.Delay(1000);
            await JS.InvokeVoidAsync("KTAuthResetPassword.init");
        }
    }
}